html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: helvetica;
}

#tree {
	overflow-x: auto;
	overflow-y: auto;
	display: inline-block;
	width: 16em;
	height: 100%;
	background-color: #DFDFDF;
}

#view {
	display: inline-block;
	width: calc(100% - 16em);
	height: 100%;
	background-color: #EFEFEF;
	position: relative;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	overflow: hidden;
}

.view_node {
	background-color: #DFDFDF;
	position: absolute;
	overflow: hidden;
	display: flex;
	flex-flow: column;
}

.view_node > div:nth-child(1) {
	flex: 0 1 auto;
}

.view_node > div:nth-child(1) > a {
	float: right;
	cursor: pointer;
	margin-right: 4px;
}

.view_node > div:nth-child(2) {
	flex: 1 1 auto;
}

.view_node > div:nth-child(2) > input {
	width: calc(100% - 4px);
	border: 0;
	height: 1.5em;
}

.view_node > div:nth-child(2) > textarea {
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	resize: none;
}

.view_menu {
	background-color: #DFDFDF;
	position: absolute;
}

.view_menu > a {
	width: 100%;
}

.tree_node > button{
	border-left: 0px;
	border-right: 0px;
	width: 2em;
}

.tree_node > div {
	margin-left: 1em;
	display: none;
}

#tree > div:first-child > input {
	width: 100%;
}
